* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #212529;
    padding: 15px 0 15px 50px;
    align-items: center;
    display: flex;
    width: 100%;
}

.logo {
    display: flex;
    font-size: 26px;
    padding-right: 900px;
}

.logo a {
    text-decoration: none;
    color: #e2e3e5;
}

.menu a {
    display: block;
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin-right: 100px;
    padding: 0px 16px;
    color: #e2e3e5;
    margin: 0;
    justify-content: space-between;
}

.menu a:hover {
    background-color: #198753;
    padding: 5px;
}

.wrap {
    display: flex;
}

.wrap img {
    height: 700px;
    width: auto;
}

.login {
    border: grey;
    padding: 20px;
    background-color: grey;
}

.state {
    display: flex;
}

.create {
    height: 50px;
    width: 110px;
    background-color: #198753;
    padding: 5px;
    border-radius: 10px;
    color: #e2e3e5;

}

.first {
    height: 25px;
    width: 300px;
}

.last {
    height: 25px;
    width: 300px;
}

.user {
    height: 25spx;
    width: 300px;
}

.usern {
    height: 25px;
    width: 300px;
}

#state {
    height: 50px;
    width: 80px;
}

#zip {
    height: 50px;
    width: 80px;
}

.page2 {

    background-color: #e2e3e5;
    padding: 50px;

}